* {
  margin: 0;
  padding: 0;
}

.app {
  height: 100vh;
  font-family: "Oxygen", sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: linear-gradient(rgb(17, 0, 255), rgb(251, 255, 0));
}

.head {
  font-size: 35px;
  margin-bottom: 25px;
  margin-top: 25px;
  transition: all 1.5s ease;
}

.head span {
  color: red;
}

.inputBox {
  position: relative;
  width: 700px;
  font-size: 25px;
  margin-bottom: 10px;
  transition: all 1.5s ease;
}
.inputBox input {
  box-sizing: border-box;
  width: 100%;
  font-size: 15px;
  padding: 8px;
  border-radius: 25px;

  border: 1px solid lightgray;
}

.inputBox input:focus {
  box-shadow: 0 0 5px orange;
  outline: none;
  border: 1px solid orange;
}

.plusButton {
  color: black;
  position: absolute;
  top: 15%;
  right: 2%;
  cursor: pointer;
}

.todoList {
  width: 700px;
  font-size: 20px;
  border: 1px solid lightgray;
  background: rgba(255, 255, 255, 0.242);
  margin-bottom: 15px;
  border-radius: 25px;
  transition: all 1.5s ease;
}
.todoList div {
  margin-top: 5px;
  margin-bottom: 5px;
  margin-left: 15px;
  box-sizing: border-box;
  width: 100%;
  position: relative;
}

#done {
  margin-right: 5px;
  transform: scale(1.3);
}

.deleteButton {
  position: absolute;
  top: 15%;
  right: 7%;
  cursor: pointer;
}


@media (max-width: 740px){
  .inputBox{
    width: 500px;
  }
  .todoList{
    width: 500px;
  }
}

@media (max-width: 530px){
  .inputBox{
    width: 310px;
  }
  .todoList{
    width: 310px;
  }
  .head{
    font-size: 25px;
  }
}
